// homepage styles
.home {
  width: 100%;
  min-height: 100vh;
  background-color: var(--clr-neutral-very-dark-blue);
  padding-inline: 2.5rem;
  padding-block: 3rem;

  display: grid;
  align-content: center;
  justify-content: center;
}