@use '../../../styles/abstracts/mixins' as *;

.report {
  max-width: 33rem;
  min-height: 16rem;
  border-radius: 1.5rem;
  color: var(--clr-prim-text);

  display: grid;
  align-content: end;
  overflow: hidden;

  position: relative;

  @include mq(md) {
      width: 25rem;
      min-height: 25rem;
  }
}

.reportBackgroundImage {
  position: absolute;
  z-index: 10;
  right: 2rem;
  top: -1.1rem;
}

// main section styles
.main {
  background-color: var(--clr-neutral-dark-blue);
  padding: 2rem;
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
  min-height: 12rem;
  z-index: 20;

  display: grid;
  align-content: center;
  transition: background-color .2s ease-in;

    &:hover {
      background-color: var(--clr-neutral-desaturated-blue);
    }

  @include mq(md) {
      min-height: 20rem;
  }  
}

// header styles
.header {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
}


.title {
  font-size: var(--fs-body);
  font-weight: var(--fw-500);
  text-transform: capitalize;
}

// body styles
.body {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  align-items: center;

  @include mq(md) {
    grid-auto-flow: row;
  }
}

.current {
  font-size: 3rem;
  font-weight: var(--fw-300);

  @include mq(md) {
    font-size: 5rem;
  }
}

.previous {
  font-weight: var(--fw-300);
  color: var(--clr-neutral-pale-blue);
  font-size: 1.5rem;
}

.menuIcon {
  cursor: pointer;
}

// report colors by title
.work {
    background-color: var(--clr-prim-light-red-work);
}

.play {
  background-color: var(--clr-prim-soft-blue-play);
}

.study {
  background-color: var(--clr-prim-light-red-study);
}

.exercise {
  background-color: var(--clr-prim-lime-green-exercise);
}

.social {
  background-color: var(--clr-prim-violet-social);
}

.self-care {
  background-color: var(--clr-prim-soft-orange-self-care);
}


