@use '../../styles/abstracts/mixins' as *;

.nav {
  display: grid;
  grid-auto-flow: column;

  align-items: center;
  justify-items: center;
  color: var(--clr-neutral-desaturated-blue);
  font-size: var(--fs-card-title);
  font-weight: var(--fw-400);

  @include mq(lg) {
    grid-auto-flow: row;
    justify-content: start;
    justify-items: start;
    padding: 3rem;
  }
}

.navActive {
  color: var(--clr-prim-text);
}

.navItem {
  text-transform: capitalize;
  cursor: pointer;
  transition: color .2s ease-in;

  &:hover {
    color: var(--clr-prim-text);
  }
  
}
